:root {
  --color-icons: #afb1b8;
  --color-text: #212121;
  --color-text-secohd: #757575;
  --color-text-logo: #2196f3;
  --primery-background: #fff;
  --second-background: #2f303a;
  --boxes-color: #eeeeee;
  --filter-color: #f5f4fa;
  --address-color: rgba(255, 255, 255, 0.6);
  --project-list-gap: 30px;
  --famili-fontsize: "Roboto", sans-serif;
  --logo-fontsize: "Raleway", sans-serif;
  --button-color-focus: #188ce8;
}

body {
  color: var(--color-text);
  background-color: var(--primery-background);
  font-family: var(--famili-fontsize);
  font-size: 14px;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--color-text-logo);
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  /* outline: 2px solid tomato; */
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/*----------- Logo -------- */

.logo {
  font-family: var(--logo-fontsize);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--color-text);
  text-decoration: none;
}
.logo-web {
  color: var(--color-text-logo);
}
.studio-header {
  color: #000000;
}
.studio-footer {
  color: var(--primery-background);
}

/* -------Header -------*/

.line {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .link.current {
  color: var(--color-text-logo);
}

.link.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-text-logo);

  bottom: -1px;
  left: 0;
}

.header-nav {
  margin-left: 93px;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
}

.link-contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text-secohd);
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* --------Hero-------- */

.hero {
  background-color: #c4c4c4;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-top: 0;
}

.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-background);
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primery-background);
  cursor: pointer;
  background: var(--color-text-logo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--button-color-focus);
}

/* -------Features------ */

.features-img {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--filter-color);
  margin-bottom: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text);
  margin-bottom: 10px;
}

.features-text {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text-secohd);
}

/* --------Work------- */

.work-list {
  display: flex;
  gap: 30px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-bottom: 50px;
}

.work-list-wrapper {
  position: relative;
}

.overlay-box {
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
}

.overlay-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-background);
  padding-top: 27px;
  padding-bottom: 27px;
}

/* -------Team-------- */

.section.team {
  background: var(--filter-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-card {
  background-color: var(--primery-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-bottom: 50px;
}

.team-card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-subject {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-bottom: 10px;
}

.team-subtitle {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-secohd);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: var(--color-icons);
  background-color: var(--primery-background);
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  color: var(--primery-background);
  background-color: var(--color-text-logo);
}

.socials-icon {
  fill: currentColor;
}

/* ------ Clients ------*/

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--color-icons);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--color-text-logo);
  color: var(--color-text-logo);
}

.clients-icon {
  fill: currentColor;
}

/* ------ Footer -------*/

.footer {
  background-color: var(--second-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-sections {
  display: flex;
  align-items: baseline;
  gap: 93px;
}

address {
  font-style: normal;
  margin-top: 20px;
}

.address-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-background);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item {
  margin-top: 9px;
}

.subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-background);
  margin-bottom: 20px;
}

.socials-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: var(--primery-background);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-footer-link:hover,
.socials-footer-link:focus {
  color: var(--primery-background);
  background-color: var(--color-text-logo);
}
.socials-footer-icon {
  fill: currentColor;
}

.footer-form-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  color: var(--primery-background);
  background-color: var(--color-text-logo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--button-color-focus);
}


/* -----Footer form----- */

.footer-form-field {
  min-width: 358px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primery-background);
  margin: 0;
  margin-right: 12px;
  padding: 14px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-form-field:focus {
  border: 1px solid var(--color-text-logo);}
  

/* ===== Portfolio ===== */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
  background-color: var(--filter-color);
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--primery-background);
  background-color: var(--color-text-logo);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text);
  margin-bottom: 4px;
}

.project-subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text-secohd);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3 - var(--project-list-gap));
  margin-left: calc(-1 * var(--project-list-gap));
  margin-top: calc(-1 * var(--project-list-gap));
}

.project-list > .project {
  margin-top: var(--project-list-gap);
  margin-left: var(--project-list-gap);
}
.project-text {
  padding: 20px 24px;
  border-right: 1px solid var(--boxes-color);
  border-bottom: 1px solid var(--boxes-color);
  border-left: 1px solid var(--boxes-color);
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* ===== Project overlay===== */

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
  transform: translateY(0);
}

.project-thumb-text {
  /* position: absolute;
  top: 0;
  left: 0; */
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primery-background);
}

/*===== Modal window ===== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -100%) scale(1.5);
}

.modal {
  position: absolute;
  width: 528px;
  max-height: 581px;
  padding: 40px;

  top: 50%;
  left: 50%;

  background-color: var(--primery-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  background-color: var(--primery-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--color-text-logo);
}

.button-close-icon {
  fill: currentColor;
}

/* ----- Modal Form ----- */

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.01em;
  margin-bottom: 12px;
  color: var(--color-text);
}

textarea {
  resize: none;
  
}

.calling-form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form-field {
  margin-bottom: 10px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.86;
  letter-spacing: 0.01em;

  color: var(--color-text-secohd);
}

.form-input {
  font-size: 16px;
  width: 100%;
  margin: 0;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  top:28px;
  left:12px;
  fill: currentColor;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:focus-within > .form-comment,
.form-field:focus-within > .form-input {
  border: 1px solid var(--color-text-logo);
}
.form-field:focus-within > .form-icon {
  color: var(--color-text-logo)
}

.form-comment {
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-coment-field {
  margin-bottom: 20px;
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}


.checkbox-icon .unchecked {
 opacity: 1;
 transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-icon .unchecked {
  opacity: 0;
}

.checkbox-icon .checked {
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-icon .checked {
  opacity: 1;
}

.checkbox-input {
   appearance: none;
}

.checkbox-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  user-select: none;

  color: var(--color-text-secohd);
}

.checkbox-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--color-text-logo);
}

.form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primery-background);
  cursor: pointer;
  background: var(--color-text-logo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  padding: 10px 52px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--button-color-focus);
}
