.logo {
	font-family: $logo-fontsize;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: $color-text;
	text-decoration: none;
}

.header__logo {
	margin-right: 93px;
}

.logo__main-part {
	color: $color-text-logo;
}

.logo__second-part--dark {
	color: #000000;
}

.logo__second-part--light {
	color: $primery-background;
}