.logo {
	font-family: $logo-fontsize;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: $color-text;
	text-decoration: none;

	@media screen and (min-width:768px) {}

	@media screen and (min-width:1200px) {
		font-size: 26px;
		line-height: 1.2;
	}
}

.header__logo {
	margin-right: auto;

	@media screen and (min-width:768px) {
		margin-right: auto;
	}

	@media screen and (min-width:1200px) {
		margin-right: 93px;
	}

}

.logo__main-part {
	color: $color-text-logo;
}

.logo__second-part--dark {
	color: #000000;
}

.logo__second-part--light {
	color: $primery-background;
}