.footer__contacts {
	@media screen and (min-width:768px) and (max-width:1199.98px) {
		margin-right: 165px;
		margin-bottom: 60px;
	}
}

.address {
	margin-top: 20px;
}

.address__list {
	font-style: normal;
}

.address__text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: $primery-background;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: $address-color;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__list-item {
	margin-top: 9px;
}