.footer__form-field {
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	color: $primery-background;
	margin-bottom: 20px;
	padding: 14px 16px;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	outline: transparent;
	transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1);

	&:focus {
		border: 1px solid $color-text-logo;
	}

	@media screen and (max-width:1199.98px) {
		width: 100%;
	}

	@media screen and (min-width:1200px) {
		min-width: 358px;
		margin: 0;
		margin-right: 12px;

	}

}