.features {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.features__item:not(:last-child) {
	margin-bottom: 30px;
}

.features__img {
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $filter-color;
	margin-bottom: 30px;
}

.features__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $color-text;
	margin-bottom: 10px;
}

.features__text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: $color-text-secohd;
}


// .features {
// 	display: flex;
// 	gap: 30px;
// }

// .features__img {
// 	width: 270px;
// 	height: 120px;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	background-color: $filter-color;
// 	margin-bottom: 30px;
// }

// .features__title {
// 	font-weight: 700;
// 	font-size: 14px;
// 	line-height: 1.14;
// 	letter-spacing: 0.03em;
// 	text-transform: uppercase;
// 	color: $color-text;
// 	margin-bottom: 10px;
// }

// .features__text {
// 	width: 270px;
// 	font-size: 14px;
// 	line-height: 1.71;
// 	letter-spacing: 0.03em;
// 	color: $color-text-secohd;
// }