.hero {
	background-color: #c4c4c4;
	text-align: center;
	padding-top: 118px;
	padding-bottom: 118px;

	@media screen and (min-width:1200px) {
		padding-top: 200px;
		padding-bottom: 200px;
	}
}

.overlay {
	max-width: 1600px;
	// height: 400px;
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right,
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)), url("../images/pictures-mobile/hero.jpg");

	@media (min-device-pixel-ratio: 2),
	(-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
		background-image: linear-gradient(to right,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)), url("../images/pictures-mobile/hero@2x.jpg");
	}

	@media screen and (min-width: 768px) {
		background-image: linear-gradient(to right,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)), url("../images/pictures-tablet/Hero.jpg");

		@media (min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
			background-image: linear-gradient(to right,
					rgba(47, 48, 58, 0.4),
					rgba(47, 48, 58, 0.4)), url("../images/pictures-tablet/Hero@2x.jpg");

		}
	}

	@media screen and (min-width: 1200px) {
		background-image: linear-gradient(to right,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)), url("../images/pictures-desktop/Hero.jpg");

		@media (min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
			background-image: linear-gradient(to right,
					rgba(47, 48, 58, 0.4),
					rgba(47, 48, 58, 0.4)), url("../images/pictures-desktop/Hero@2x.jpg");

		}
	}
}

.hero__title {
	max-width: 360px;
	font-weight: 900;
	font-size: 26px;
	line-height: 1.62;
	text-align: center;
	align-items: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: $primery-background;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width:1200px) {
		max-width: 696px;
		font-size: 44px;
		line-height: 1.36;
		letter-spacing: 0.06em;
		margin-bottom: 40px;
	}
}