.filter-list {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 40px;
	gap: 8px;
}

.project-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: $color-text;
	margin-bottom: 4px;
}

.project-subtitle {
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: $color-text-secohd;
}

.project-list {
	display: flex;
	flex-wrap: wrap;
	flex-basis: calc(100% / 3 - $project-list-gap);
	margin-left: calc(-1 * $project-list-gap);
	margin-top: calc(-1 * $project-list-gap);
}

.project-list>.project {
	margin-top: $project-list-gap;
	margin-left: $project-list-gap;
}

.project-text {
	padding: 20px 24px;
	border-right: 1px solid $boxes-color;
	border-bottom: 1px solid $boxes-color;
	border-left: 1px solid $boxes-color;
}

.project-link {
	display: block;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
			1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}

.project-thumb {
	position: relative;
	overflow: hidden;
}

.project-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(33, 150, 243, 0.9);
	transform: translateY(101%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
	transform: translateY(0);
}

.project-thumb-text {
	padding: 63px 24px;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	color: $primery-background;
}