.socials {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.socials__link {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 44px;
	height: 44px;

	color: $color-icons;
	background-color: $primery-background;
	border-radius: 50%;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: $primery-background;
		background-color: $color-text-logo;
	}
}

.socials__icon {
	fill: currentColor;
}