$color-text: #212121;
$color-text-secohd: #757575;
$color-text-logo: #2196f3;
$primery-background: #fff;
$second-background: #2f303a;
$boxes-color: #eeeeee;
$filter-color: #f5f4fa;
$address-color: rgba(255, 255, 255, 0.6);
$project-list-gap: 30px;
$color-icons: #afb1b8;
$famili-fontsize: "Roboto",
	sans-serif;
$logo-fontsize: "Raleway",
	sans-serif;
$button-color-focus: #188ce8;